.categoryItems {
    margin-bottom: 20px;
}
.categoryItems_row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    z-index: 1;
}
@media (max-width:576px) {
    .categoryItems_row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
@media (max-width:768px) and (min-width:577px) {
    .categoryItems_row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.home_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: space-around;
}